* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    color: black !important;
}

a{
    text-decoration: none;
}

body {
    background-color: #D3D3D3;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
}

.header{
    
    flex-direction: row;
    background-color: #ffff52f2;
    color: black !important;


}

.nav-links{
    display: flex;
    justify-content:flex-end;
    gap: 100px;
    flex-direction:row;
    /* font-weight: bold; */
    color: black !important;

}




/* Estilo para las tablas */
#tabla-mas-caracteristicas table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


#tabla-mas-caracteristicas td,
#tabla-mas-caracteristicas th {
    border: 1px solid gainsboro;
    text-align: left;
    padding: 8px;
}


#tabla-mas-caracteristicas tr:nth-child(even) {
    background-color: gainsboro;
    border: 1px solid gainsboro;
}

.nav-links li {
    list-style-type: none;
}