<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../static/CSS/style-contacto.css">
    <link rel="icon" href="../static/img/mobile-screen-solid.ico">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/efc8487288.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/">
                <span class="logotexto">ALI - Veve</span>
                <i class="fa-solid fa-mobile-screen fa-bounce"></i>
            </a>
        </div>
        
    </nav>
    <main>
        <div class="container-form">
            <div class="info-form">
                <h1>Contactanos</h1>
                <p>Si necesitas ayuda o tenés dudas, ponete en contacto con nuestro equipo!</p>
                <a href="#"><i class="fa-solid fa-phone-flip"></i>999-9999</a>
                <a href="#"><i class="fa-regular fa-envelope"></i> info@ali-veve.com</a>
                <a href="#"><i class="fa-solid fa-map-location-dot"></i>Av. Cabildo 930 CABA</a> <iframe width="300" height="200" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.365573006735!2d-58.44874372488664!3d-34.56961535569692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5c426bf750f%3A0xece8fbc32f6d411b!2sAv.%20Cabildo%20930%2C%20C1426AAW%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1716161422893!5m2!1ses-419!2sar" width="600" height="450" style="border: 1px solid black" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <form action="#" autocomplete="off">
                <input type="text" required name="nombre" placeholder="Ingresá tu nombre" class="campo">
                <input type="email" required name="email" placeholder="Ingresá tu correo electrónico" class="campo">
                
                <textarea name="mensaje" required placeholder="Dejanos tu mensaje . . ."></textarea>
                <input type="submit" name="enviar" value="Enviar mensaje" class="btn-enviar">

            </form>

        </div>


    </main>
</body>
</html>