<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAC-Movies</title>
</head>
<body>
    <!-- encabezado -->
    <header>
        <nav>
            <!-- logo -->
            <div>
                <a href="/"> <span> CAC - Movies</span></a>
            </div>

            <!-- hipervinculos del menu -->
           <ul>
            <li> <a href="#popular">Tendencias</a></li>
            <li><a href="register.html">Registrarse</a></li>
            <li> <a href="#">Iniciar Sesion</a> </li>
           </ul> 
        </nav>

    </header>
    <!-- contemnido -->
    <main>
        <!-- necesitamos una seccion para el texto y otra para la foto -->
        <!-- banner movie -->
        <section id="banner-movie">
            <!-- division para detalle de la pelicula -->
            <div>
                 <!-- un div para el poster -->
                <div>
                    <img src="../static/img/mario_bros.jpg" alt="Mario">
                </div>
                <!-- div para la descripcion -->
                <div>
                    <!-- titulo,año y duracion -->
                    <div> 
                        <h2>The Super Mario Bros. Movie <span>2013</span></h2>
                        <p>30/03/2024. Animation, Family, Adventure, Fantasy, Comedy. 1h 30m</p>
                    </div>
                    <!-- descripcion de la peli -->
                    <div> 
                        <h3>Overview</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint minus recusandae quisquam laborum repudiandae voluptatibus ipsa iusto animi. Accusamus dignissimos beatae illum, accusantium doloremque eum modi maiores nesciunt repellendus libero?</p>
                    </div>
                    <!-- Autores    -->
                    <div> 
                        <!-- autor 1 -->
                        <div>
                            <p>Auron Hovath</p>
                            <p>Director</p>
                        </div>
                        <!-- autor 2 -->
                        <div>
                            <p>Michael Jelenic</p>
                            <p>Director</p>
                        </div>
                        <!-- autor 3 -->
                        <div>
                            <p>Mtthew Fogel</p>
                            <p>Writer</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- info de la pelicula  -->
        <section id="more-info">
            <!-- Division Contenedora -->
            <div>
                <!-- su propia division para mas info de la pelicula -->
                <div>
                    <!-- Trailer -->
                    <div> </div>
                    <h3>Ver Trailer</h3>
                    <!-- video del trailer -->
                    <div>
                        <iframe width="914" height="514" src="https://www.youtube.com/embed/RjNcTBXTk4I" title="The Super Mario Bros. Movie | Final Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                           
                        </iframe>
                    </div>
                    <!-- Redes sociales -->
                    <div>
                        <!-- lista de redes sociales -->
                        <div>
                            <ul>
                                <li><a href=""></a>Facebook</li>
                                <li><a href=""></a>Tuitter</li>
                                <li><a href=""></a>Instagram</li>
                                <li><a href=""></a>Movies</li>
                            </ul>
                        </div>
                        <!-- tabla con mas info -->
                        <div>
                            <table>
                                <tr>
                                    <th colspan="2">Info</th>
                                </tr>

                                <tr>
                                    <td> <strong>Status</strong></td>
                                    <td>Released</td>
                                </tr>

                                <tr>
                                    <td> <strong>Lenguage original</strong></td>
                                    <td>Inglish</td>
                                </tr>

                                <tr>
                                    <td> <strong>Budgeth</strong></td>
                                    <td>$100.000.000,00</td>
                                </tr>

                                <tr>
                                    <td> <strong>Revenue</strong></td>
                                    <td>$120.356.452,50</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- pie -->
    <footer>

    </footer>
    
</body>
</html> 