<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/CSS/style-login.css">
    <link rel="icon" href="../static/img/mobile-screen-solid.ico">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/efc8487288.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="/">
                <span class="logo-texto">E-commers-Alíbaba</span>
                <i class="fa-solid fa-mobile-screen fa-bounce"></i>
            </a>
        </div>
        
    </nav>




    <main>
        <section class="form-login">
            <h5>Iniciar Sesión</h5>
            <input class="controls" type="text" name="username" id="username" placeholder="usuario">
            <input class="controls" type="password" name="pass" id="pass" placeholder="contraseña">
            <button type="submit">Ingresar</button>
            <p><a href="#">Olvidaste tu contreseña?</a></p>


        </section>







    </main>
    
    
    
</body>
</html>